* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
   .img-head {
    width: 100%;
    height: 20%;
  }
  
  .img-tal-eva {
    margin-left:15%
  }
  
  .img-tal-speed {
    margin-left: 17%;
  }
  .img-jw-spinel {
    margin-left:7%;
  }
  .img-jw-zircon {
    margin-left:14%;
  }
  
  .title-ag-ignis {
    margin-left:20%
  }
  
  .img-ag-ignis {
    margin-left:24%;
  }
  
  .img-ag-joy {
    margin-left:29%
  }
  
  .img-ag-nebula {
    margin-left:38%;
  }
  
  .img-ag-procella {
    margin-left:34%;
  }
  
  .img-ag-tSpeed {
    margin-left:28%;
  }
  
  .img-ag-tAuthority {
    margin-left:30%;
  }
  .talis-header {
    margin-left: 43%;
    font-size: 48px;
    font-family: -webkit-body;
  }
  .img-acc-dvEarring {
    margin-left:22%;
  }
  
  .img-acc-toiRing {
    margin-left:24%;
  }

  // .nav-link {
  //   padding:1rem 1rem!important;
  // }
  /* Inicio Footer */
  
  footer .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  footer .footer-container .footer-container-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-container ul li {
    display: inline-block;
    text-align: center;
  }
  
  .img-discord {
      width: 260px;
      height: 120px;
      line-height: 35px;
      border-radius: 50px;
      border: 4px solid #FFF;
      margin-left:850px;
      margin-top:10px;
      text-decoration-line: none;
      color: #000;
  
  }
  
  
  footer .img-discord:hover {
    background-color: #FFF;
  }
  
  /* Fin Footer */
  
  body {
    border-radius:3em;
    // background-image:url(http://imgfz.com/i/52oSNDU.png);
    background-image:url(http://imgfz.com/i/UF7PZQf.png);
    background-position:top;
    background-repeat: no-repeat;
    background-size:contain;
    // background-color:rgb(40, 39, 39)!important;
    background-color:#202020!important;
    // font-family:'calibri-bold'!important;
    font-weight: 600!important;
  
  }
  
  .toUp {
    border-radius:0.5rem;
    margin-top:20em;
    
  }
  
  // button 
  .button.white {
    color:#2f3c4e;
    background:#fff;
  }

  .button.white:hover {
    color: #fff;
    background:black;
  }
  // fin button 

  // discord 
  .button.discord {
    color:#2f3c4e;
    background:#fff;
  }
  .button.discord:hover {
    /* color:#7289da; */
    background:#7289da;
    color:#ffffff;
  }
  // fin discord 

  // youtube 
  .button.youtube {
    color:#2f3c4e;
    background:#fff;
  }
  .button.youtube:hover {
    color:#fff;
    background:red;
  }
  // fin youtube 

  // twitch 
  .button.twitch {
    color:#2f3c4e;
    background:#fff;
  }
  
  .button.twitch:hover {
    color:white;
    background:#6441a5;
  }
//  fin twitch 
  
 
  
  .button-row-social .button {
    margin:2px;
  }
  
  .button {
    font-size: 38px;
    line-height: 60px;
    color: #fff;
    display: inline-block;
    background: #9fa8da;
    border-radius: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    border: none;
    position: relative;
    transition: .4s;
  }
  
  .pointer {
    cursor:pointer;
  }
  
  .items {
    color:black!important;
    text-transform: uppercase;
    font-size:18px;
    text-shadow: rgba(161, 149, 149, 0.7);

  }

  .navbar {
    padding:0em!important;
    border-bottom:1px solid rgba(161,149,149,0.7);
    border-radius:revert;
   
  }

  .dropdown-menu{
    padding:0px!important;
  }

  // .f1 {
  //   border-radius:2rem;
  //   border-top: 1px solid rgba(161, 149, 149, 0.7);
  //   border-radius: revert;
  // }

  .sticky-top {
    background-color:white;
  }

  h2{
    color:#000;
    text-align:center;
    font-size:2em;
  }
  .warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#fff;
    display:inline-block;
    color:#000;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }

  html {
    scroll-behavior: smooth;
   }
   
  .panels{
    background:#fffffff6;
    box-shadow: 0 0rem 1rem #00000080;
    min-height:200px;
    width:80%;
    // max-width:500px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;  
    margin-bottom:10px;
  }
  .panel{
    display:none;
    animation: fadein 1s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold;
    display:flex;
    justify-content: center;
  }
  .panel-flex {
    font-size:3em;
    font-weight:bold;
    display:flex;
    justify-content: space-around;
    margin-top:0.5em;
  }

  .panelborder {
    border-top: 1px solid black;
  }

  .btn {
    font-weight: 400!important;
    margin-right:1.5rem;
    // border:1px solid black!important;
  }
  .btn:hover {
    background-color:#fac704;
  }
  .radio{
    display:none;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel,
  #four:checked ~ .panels #four-panel,
  #five:checked ~ .panels #five-panel,
  #six:checked ~ .panels #six-panel,
  #seven:checked ~ .panels #seven-panel{
    display:block;
    
    
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab,
  #four:checked ~ .tabs #four-tab,
  #five:checked ~ .tabs #five-tab,
  #six:checked ~ .tabs #six-tab,
  #seven:checked ~ .tabs #seven-tab{
    background:#fac704;
    color:#000;
     border-top: 3px solid #000;
  }

  .tab:hover {
    color:#fac704;
    border-top:3px solid #fac704;
  }

  .item1w {
    padding-top:4em;
    font-weight: 400;
  }
// css de class guides

.classguide-title {
  font-size: 18px;
  font-weight: 600;
}

.imgIco {
  width: 40px;
  height: 40px;
}

.renderize {
  display:inline-block;
  justify-content:start;
}


.browser {
  padding-left: 4.7rem!important;
}